{% extends 'base.html' %}

{% block title %}Docházka za útvar {{ acl }}{% endblock %}
{%- set active_page = 'department' %}

{% block content %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('#period').datepicker({
            viewMode: 'months',
            format: 'mm-yyyy',
            minViewMode: 'months',
            todayHighlight: false,
            todayBtn: 'linked',
            language: 'cs',
        })

        $('#period').datepicker('setDate', '{{ month }}-{{ year }}');

        $("#period").datepicker().on('changeDate', function (e) {
            const date = e.format().split('-')
            const url = '/dept/{{ dept }}/' + parseInt(date[1]) + '/' + parseInt(date[0]);
            window.location.href = url
        })


    });
</script>
{% endblock %}
<div class='container-fluid'>
    <div class="row pichator-toolbar toolbar-pf">
        <div class="col-sm-12">
            <div class="row toolbar-pf-results">
                <div class="col-sm-12">
                    <h5>Období</h5>
                    <p>
                        <a id="period" data-value="{{ month }}-{{ year }}">{{month|month_name}} {{ year }}</a>
                    </p>

                    <h5>Útvar {{ acl }}</h5>

                    <h5>Mód docházky</h5>
                    <form method="POST">
                        <label class="radio-inline">
                            <input name='modes' id='auto' type='radio' value='auto' {% if mode == 'auto' %} checked
                                {% endif %}>Automaticky
                        </label>
                        <label class="radio-inline">
                            <input name='modes' id='edit' type='radio' value='edit' {% if not mode or mode == 'edit' %}
                                checked {% endif %}>S editací
                        </label>
                        <label class="radio-inline">
                            <input name='modes' id='readonly' type='radio' value='readonly' {% if mode == 'readonly' %}
                                checked {% endif %}>Prohlížení
                        </label>
                        <input class='btn btn-success' type='submit' value='Uložit'>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {% if data[0]|length != 0 %}
            <table class='table table-bordered table-responsive table-striped' id='attendance' name='attendance'>
                <thead>
                    <th>Jméno</th>
                    {% for day in range(1, data[0]|length) %}
                    <th>{{ day }}</th>
                    {% endfor %}
                </thead>
                <tbody>
                    {% for emp in data %}
                    <tr>
                        <td>{{ emp['name'] }}</td>
                        {% for day in range(1, data[0]|length) %}
                        <td>{{ emp[day|string] }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <h5>Žádný zaměstnanec s vyplněnou pracovní dobou pro tento měsíc. PLACEHOLDER</h5>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}