{% extends 'base.html' %}

{% block title %}Docházka{% endblock %}

{% block content %}

{% block scripts %}
<script>
    var pvs = [];

    function submit_data() {
        i = 0
        if ($('#pvs')[0].length != 1) {
            i = $('#pvs')[0].selectedIndex;
        }
        $.get('/attendance_submit?' + $.param({
            'period': $('#period').val(),
            'start': $('#editForm-start').val(),
            'end': $('#editForm-end').val(),
            'mode': $('#editForm-mode').val(),
            'day': $('#editForm-day').val(),
            'pvid': pvs[i].PV
        })).done(function () {
            reload_table();
            $('#modalEditForm').modal('hide');
        });
    }

    function reload_table() {
        if ($.fn.DataTable.isDataTable('#attendance')) {
            $('#attendance').DataTable().destroy();
        }
        $('#attendance tbody').empty();

        attendance = $('#attendance').DataTable({
            columns: [{
                    data: 'day',
                },
                {
                    data: 'start',
                },
                {
                    data: 'end',
                },
                {
                    data: 'mode',
                },
                {
                    data: 'weekday',
                },
                {
                    data: 'timetable',
                },
                {
                    data: 'stamp',
                },
            ],
            order: [
                [0, "asc"]
            ],
            createdRow: function (row, data, dataIndex) {
                if (data.mode == 'Absence' && data.weekday !=
                    'Sobota' &&
                    data.weekday !=
                    'Neděle') {
                    $(row).addClass('warning');
                } else if (data.mode == 'Presence') {
                    $(row).addClass('success');
                }
            },
            ajax: {
                'url': '/attendance_data',
                'data': function (d) {
                    d.pvid = pvs[i].PV;
                    d.period = $('#period').val();

                },
            },
            paging: false,
            searching: false,
            bLengthChange: false,
            bInfo: false,
            ordering: false,
        });
    }

    function refresh_dept() {
        i = 0
        if ($('#pvs')[0].length != 1) {
            i = $('#pvs')[0].selectedIndex;
        }
        $('#dept')[0].value = pvs[i].dept;
    }

    $(document).ready(function () {
        $('#period').datepicker({
            viewMode: 'months',
            format: 'mm-yyyy',
            minViewMode: 'months',
        });
        $("#period").datepicker().on('changeDate', function (e) {
            $.get('/get_emp?' + $.param({
                    period: $("#period").val(),
                    dept: "{{ dept }}"
                }))
                .done(function (data) {
                    $('#pvs').empty();
                    pvs = data
                    console.log(data)
                    for (i = 0; i < pvs.length; i++) {
                        $('#pvs').append('<option value = ' + pvs[i].first_name + ' ' + pvs[i]
                            .last_name + ' - ' + pvs[i].PV + '>' + pvs[i].PV +
                            '</option>')
                    }
                    refresh_dept();
                    $('#pvs').selectpicker('refresh');
                    i = 0
                    if ($('#pvs')[0].length != 1) {
                        i = $('#pvs')[0].selectedIndex;
                    }
                    reload_table();
                });
        });
        $('#period').datepicker('setDate', new Date());
        $("#pvs").selectpicker();
        $("#pvs")
            .selectpicker().on('change', function (e) {
                refresh_dept();
                if ($.fn.DataTable.isDataTable('#attendance')) {
                    $('#attendance').DataTable().destroy();
                }
                $('#attendance tbody').empty();

                attendance = $('#attendance').DataTable({
                    columns: [{
                            data: 'day',
                        },
                        {
                            data: 'start',
                        },
                        {
                            data: 'end',
                        },
                        {
                            data: 'mode',
                        },
                        {
                            data: 'weekday',
                        },
                        {
                            data: 'timetable',
                        },
                        {
                            data: 'stamp',
                        },
                    ],
                    order: [
                        [0, "asc"]
                    ],
                    createdRow: function (row, data, dataIndex) {
                        if (data.weekday == 'Sobota' || data.weekday == 'Neděle') {
                            data.mode = 'Mimo Evidenci';
                        } else if (data.mode == 'Absence') {
                            $(row).addClass('warning');
                        } else if (data.mode == 'Presence') {
                            $(row).addClass('success');
                        }
                    },
                    ajax: {
                        'url': '/attendance_data',
                        'data': function (d) {
                            d.pvid = pvs[i].PV;
                            d.period = $('#period').val();

                        },
                    },
                    paging: false,
                    searching: false,
                    bLengthChange: false,
                    bInfo: false,
                    ordering: false,
                });
            });
        $('#attendance tbody').on('click', 'tr', function (e) {
            e.stopPropagation();
            var data = attendance.row(this).data();
            if (data.weekday != 'Sobota' && data.weekday != 'Neděle') {
                $('#editForm-day').val(data.day);
                $('#editForm-start').val(data.start);
                $('#editForm-end').val(data.end);
                $('#editForm-mode').val(data.mode);
                $('#editForm-weekday').val(data.weekday);
                $('#modalEditForm').modal('show');
            }
        });
        $('.clock-picker').clockpicker();
        $('#editForm-mode').selectpicker();
    });
</script>
{% endblock %}
<div class='container-fluid'>
    <div class='row buffer-top-md well'>
        <form class='form-inline' id='attendance-form' method='post'>
            <div class='form-group'>
                <label for='period'>Období:</label>
                <input class='form-control' name='period' id="period" type='text'>
            </div>
            <div class='form-group'>
                <label for='pvs'>PV:</label>
                <select class='form-control' name='pvs' id="pvs"></select>
            </div>
            <div class='form-group'>
                <label for=''>Oddělení:</label>
                <input class='form-control' id='dept' name='dept' type='text' readonly>
            </div>
        </form>
    </div>
    <div class="modal fade" id="modalEditForm" tabindex="-1" role="dialog" aria-labelledby="Editace docházky"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Editace docházky</h4>
                </div>
                <div class="modal-body">
                    <form id='updateForm'>
                        <div class="form-group">
                            <label for="editForm-day">Den v měsíci</label>
                            <input type="text" id="editForm-day" class="form-control" disabled>
                        </div>

                        <div class="form-group">
                            <label for="editForm-start">Příchod</label>
                            <input type="time" id="editForm-start" class="form-control clock-picker"
                                data-placement='right' data-align='top' data-autoclose='true'>
                        </div>
                        <div class="form-group">
                            <label for="editForm-end">Odchod</label>
                            <input type="time" id="editForm-end" class="form-control clock-picker"
                                data-placement='right' data-align='top' data-autoclose='true'>
                        </div>
                        <div class="form-group">
                            <label for="editForm-mode">Režim docházky</label>
                            <select id="editForm-mode" class="form-control">
                                <option>Absence</option>
                                <option>Presence</option>
                                <option>Dovolená</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="editForm-start">Den v týdnu</label>
                            <input type="text" id="editForm-weekday" class="form-control" disabled>
                        </div>
                    </form>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-success" onclick='submit_data();'>Uložit</button>
                    <button class="btn btn-warning" data-dismiss='modal'>Zrušit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-push-3">
            <table class='display table table-bordered table-responsive' id='attendance' name='attendance'>
                <thead>
                    <tr>
                        <th>Den v měsíci</th>
                        <th>Příchod</th>
                        <th>Odchod</th>
                        <th>Režim docházky</th>
                        <th>Den v týdnu</th>
                        <th>Pracovní doba</th>
                        <th>Nárok na stravenku</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}