{% extends 'base.html' %}

{% block title %}Docházka{% endblock %}

{% block content %}

{% block scripts %}
<script>
    function create_form(days) {
        form = '';
        for (i = 1; i <= days; i++) {
            form += "<input type='time' name='start" + i + "'><input type='time' name='end" + i +
                "'><input type='text' name='mode" + i + "'>";
        }
        return form
    }

    function tableToJSON(tblObj) {
        var data = [];
        var $headers = $(tblObj).find("th");
        var $rows = $(tblObj).find("tbody tr").each(function (index) {
            $cells = $(this).find("td");
            data[index] = {};
            $cells.each(function (cellIndex) {
                data[index][$($headers[cellIndex]).html()] = $(this).html();
            });
        });
        return data;
    }

    function submit_data(){
        $.ajax({
            url: '/attendance_submit',
            method: 'POST',
        })
    }

    var pvs = [];
    var editor;

    function refresh_dept() {
        i = 0
        if ($('#pvs')[0].length != 1) {
            i = $('#pvs')[0].selectedIndex;
        }
        $('#dept')[0].value = pvs[i].dept;
    }

    $(document).ready(function () {
        $('#period').datepicker({
            viewMode: 'months',
            format: 'mm-yyyy',
            minViewMode: 'months',
        });
        $("#period").datepicker().on('changeDate', function (e) {
            $.get('/pvs?' + $.param({
                    period: $("#period").val()
                }))
                .done(function (data) {
                    $('#pvs').empty();
                    pvs = data.data
                    for (i = 0; i < pvs.length; i++) {
                        $('#pvs').append('<option value = ' + pvs[i].PV + '>' + pvs[i].PV +
                            '</option>')
                    }
                    refresh_dept();
                    $('#pvs').selectpicker('refresh');
                    i = 0
                    if ($('#pvs')[0].length != 1) {
                        i = $('#pvs')[0].selectedIndex;
                    }
                    if ($.fn.DataTable.isDataTable('#attendance')) {
                        $('#attendance').DataTable().destroy();
                    }
                    $('#attendance tbody').empty();
                    $('#transporter-form').empty();

                    $('#attendance').DataTable({
                        columns: [{
                                data: 'day',
                            },
                            {
                                data: 'start',
                            },
                            {
                                data: 'end',
                            },
                            {
                                data: 'mode',
                            },
                            {
                                data: 'weekday',
                            },
                            {
                                data: 'timetable',
                            },
                            {
                                data: 'stamp',
                            },
                        ],
                        order: [
                            [0, "asc"]
                        ],
                        createdRow: function (row, data, dataIndex) {
                            if (data.mode == 'Absence' && data.weekday !=
                                'Sobota' &&
                                data.weekday !=
                                'Neděle') {
                                $(row).addClass('warning');
                            } else if (data.mode == 'Presence') {
                                $(row).addClass('success');
                            }
                        },
                        ajax: {
                            'url': '/attendance_data',
                            'data': function (d) {
                                d.pvid = pvs[i].PV;
                                d.period = $('#period').val();

                            },
                        },
                        initComplete: function (settings, data) {
                            $('#transporter-form').append(create_form(data.data
                                .length));
                        },
                        paging: false,
                        searching: false,
                        bLengthChange: false,
                        bInfo: false,
                        ordering: false,
                    });
                });
        });
        $('#period').datepicker('setDate', new Date());
        $("#pvs").selectpicker();
        $("#pvs")
            .selectpicker().on('change', function (e) {
                refresh_dept();
                if ($.fn.DataTable.isDataTable('#attendance')) {
                    $('#attendance').DataTable().destroy();
                }
                $('#attendance tbody').empty();
                $('#transporter-form').empty();

                $('#attendance').DataTable({
                    columns: [{
                            data: 'day',
                        },
                        {
                            data: 'start',
                        },
                        {
                            data: 'end',
                        },
                        {
                            data: 'mode',
                        },
                        {
                            data: 'weekday',
                        },
                        {
                            data: 'timetable',
                        },
                        {
                            data: 'stamp',
                        },
                    ],
                    order: [
                        [0, "asc"]
                    ],
                    createdRow: function (row, data, dataIndex) {
                        if (data.mode == 'Absence' && data.weekday != 'Sobota' &&
                            data.weekday !=
                            'Neděle') {
                            $(row).addClass('warning');
                        } else if (data.mode == 'Presence') {
                            $(row).addClass('success');
                        }
                    },
                    ajax: {
                        'url': '/attendance_data',
                        'data': function (d) {
                            d.pvid = pvs[i].PV;
                            d.period = $('#period').val();

                        },
                    },
                    initComplete: function (settings, data) {
                        $('#transporter-form').append(create_form(data.data
                            .length));
                    },
                    paging: false,
                    searching: false,
                    bLengthChange: false,
                    bInfo: false,
                    ordering: false,
                });
            });
    });
</script>
{% endblock %}
<div class='container-fluid'>
    <div class='row buffer-top-md well'>
        <form class='form-inline' id='attendance-form' method='post'>
            <div class='form-group'>
                <label for='period'>Období:</label>
                <input class='form-control' name='period' id="period" type='text'>
            </div>
            <div class='form-group'>
                <label for='pvs'>PV:</label>
                <select class='form-control' name='pvs' id="pvs"></select>
            </div>
            <div class='form-group'>
                <label for=''>Oddělení:</label>
                <input class='form-control' id='dept' name='dept' type='text' readonly>
            </div>
        </form>
        <div class='form-group'>
            <button class='btn btn-success' onclick='submit_data();'>Uložit</button>
            <button class='btn btn-warning' onclick='redirect("/");'>Zrušit</button>
        </div>
    </div>
    <table class='display table table-bordered table-responsive' id='attendance' name='attendance'>
        <thead>
            <tr>
                <th>Den v měsíci</th>
                <th>Příchod</th>
                <th>Odchod</th>
                <th>Režim docházky</th>
                <th>Den v týdnu</th>
                <th>Pracovní doba</th>
                <th>Nárok na stravenku</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <!-- invisible form for submiting data from table -->
    <form id='transporter-form' name='transporter-form' style='display:none'>
    </form>
</div>
{% endblock %}