{% extends 'base.html' %}

{% block title %}Docházka{% endblock %}

{% block content %}

{% block scripts %}
<script>
    var pvs = [];

    function reload_table() {
        if ($.fn.DataTable.isDataTable('#attendance')) {
            $('#attendance').DataTable().destroy();
        }
        $('#attendance tbody').empty();

        attendance = $('#attendance').DataTable({
            columns: [{
                    data: 'day',
                    render: function (data, type, row) {
                        return data + ' ' + row.weekday

                    }
                },
                {
                    data: 'start',
                    render: skipWeekend
                },
                {
                    data: 'end',
                    render: skipWeekend
                },
                {
                    data: 'mode',
                    render: skipWeekend
                },
                {
                    data: 'timetable',
                    render: skipWeekend
                },
            ],
            order: [
                [0, "asc"]
            ],
            createdRow: function (row, data, dataIndex) {
                period = $('#period').val();
                today = new Date();
                row_date = new Date(period.split('-')[1], period.split('-')[0] - 1, (dataIndex + 1))
                in_future = row_date > today
                if (row_date.getDate() == today.getDate()) {
                    $(row).addClass('info');
                } else if (data.weekday == 'Sobota' || data.weekday == 'Neděle') {
                    $(row).addClass('weekend');
                } else if (data.mode == 'Absence' && !in_future) {
                    $(row).addClass('absence');
                }
            },
            ajax: {
                'url': '/attendance_data',
                'data': function (d) {
                    d.pvid = pvs[i].PV;
                    d.period = $('#period').val();
                    d.username = pvs[i].username;

                },
            },
            paging: false,
            searching: false,
            bLengthChange: false,
            bInfo: false,
            ordering: false,
        });
    }

    function refresh_dept() {
        i = 0
        if ($('#pvs')[0].length != 1) {
            i = $('#pvs')[0].selectedIndex;
        }
        $('#dept')[0].value = pvs[i].dept;
    }

    $(document).ready(function () {
        $('#period').datepicker({
            viewMode: 'months',
            format: 'mm-yyyy',
            minViewMode: 'months',
        });
        $("#period").datepicker().on('changeDate', function (e) {
            $.get('/pvs?' + $.param({
                    period: $("#period").val()
                }))
                .done(function (data) {
                    $('#pvs').empty();
                    pvs = data.data
                    for (i = 0; i < pvs.length; i++) {
                        $('#pvs').append('<option value = ' + pvs[i].PV + '>' + pvs[i].PV +
                            '</option>')
                    }
                    refresh_dept();
                    $('#pvs').selectpicker('refresh');
                    i = 0
                    if ($('#pvs')[0].length != 1) {
                        i = $('#pvs')[0].selectedIndex;
                    }
                    reload_table();
                });
        });
        $('#period').datepicker('setDate', new Date());
        $("#pvs").selectpicker();
        $("#pvs")
            .selectpicker().on('change', function (e) {
                refresh_dept();
                reload_table();
            });
        $('.clock-picker').clockpicker();
        $('#editForm-mode').selectpicker();
    });
</script>
{% endblock %}
<div class='container-fluid'>
    <div class='row buffer-top-md well'>
        <form class='form-inline' id='attendance-form' method='post'>
            <div class='form-group'>
                <label for='period'>Období:</label>
                <input class='form-control' name='period' id="period" type='text'>
            </div>
            <div class='form-group'>
                <label for='pvs'>PV:</label>
                <select class='form-control' name='pvs' id="pvs"></select>
            </div>
            <div class='form-group'>
                <label for=''>Oddělení:</label>
                <input class='form-control' id='dept' name='dept' type='text' readonly>
            </div>
        </form>
    </div>
    <div class="modal fade" id="modalEditForm" tabindex="-1" role="dialog" aria-labelledby="Editace docházky"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Editace docházky</h4>
                </div>
                <div class="modal-body">
                    <form id='updateForm'>
                        <div class="form-group">
                            <label for="editForm-day">Den v měsíci</label>
                            <input type="text" id="editForm-day" class="form-control" disabled>
                        </div>

                        <div class="form-group">
                            <label for="editForm-start">Příchod</label>
                            <input type="time" id="editForm-start" class="form-control clock-picker"
                                data-placement='right' data-align='top' data-autoclose='true'>
                        </div>
                        <div class="form-group">
                            <label for="editForm-end">Odchod</label>
                            <input type="time" id="editForm-end" class="form-control clock-picker"
                                data-placement='right' data-align='top' data-autoclose='true'>
                        </div>
                        <div class="form-group">
                            <label for="editForm-mode">Režim docházky</label>
                            <select id="editForm-mode" class="form-control">
                                <option>Absence</option>
                                <option>Presence</option>
                                <option>Dovolená</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="editForm-start">Den v týdnu</label>
                            <input type="text" id="editForm-weekday" class="form-control" disabled>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-push-3">
            <table class='display table table-bordered table-responsive' id='attendance' name='attendance'>
                <thead>
                    <tr>
                        <th>Den v měsíci</th>
                        <th>Příchod</th>
                        <th>Odchod</th>
                        <th>Režim docházky</th>
                        <th>Pracovní doba</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}