{% extends 'base.html' %}


{% block title %}Docházka{% endblock %}

{% block content %}

{% block scripts %}
<script>
    var pvs = [];

    function create_input(id, value, readonly) {
        element_text = '<div class="col-xs-1"><input class="form-control" value="' + value + '" id="' + id + '"' +
            readonly + '></div>'
        return element_text;
    }

    function refresh_dept() {
        i = 0
        if ($('#pvs')[0].length != 1) {
            i = $('#pvs')[0].selectedIndex;
        }
        $('#dept')[0].value = pvs[i].dept;
    }

    function get_att_data() {
        i = 0
        if ($('#pvs')[0].length != 1) {
            i = $('#pvs')[0].selectedIndex;
        }
        $.ajax({
            url: '/attendance_data',
            headers: {
                'X-pvid': pvs[i].PV,
                'X-period': $("#period").val()
            }
        }).done(function (data) {
            var rows = data.data
            $('#attendance').empty();
            for (i = 0; i < rows.length; i++) {
                stamp = 'Ne';
                if (rows[i].stamp && rows[i].satmp != 'False') {
                    stamp = 'Ano'
                };
                $('#attendance').append(
                    '<div class="row">' +
                    create_input('day' + i, rows[i].day, 'readonly') +
                    create_input('start' + i, rows[i].start, '') +
                    create_input('end' + i, rows[i].end, '') +
                    create_input('mode' + i, rows[i].mode, '') +
                    create_input('weekday' + i, rows[i].weekday, 'readonly') +
                    create_input('timetable' + i, rows[i].timetable, 'readonly') +
                    create_input('stamp' + i, rows[i].stamp, 'readonly') +
                    '</div>')
            }
            $('#attendance').append(
                '<br><div class="row">' +
                '<div class="col-md-7 input-group">' +
                '<div class="col-md-1"><button type="submit" class="btn btn-success submit-btn">Uložit</button></div>' +
                '<div class="col-md-5"></div>' +
                '<div class="col-md-1"><button id="btn-cancel" class="btn btn-warning"> Zrušit </button></div> ' +
                ' </div>' +
                '</div>'
            )
        });
    }

    $(document).ready(function () {
        $('#period').datepicker({
            viewMode: 'months',
            format: 'mm-yyyy',
            minViewMode: 'months',
        });
        $("#period").datepicker().on('changeDate', function (e) {
            $.ajax({
                url: '/pvs',
                headers: {
                    'X-period': $("#period").val()
                }
            }).done(function (data) {
                $('#pvs').empty();
                pvs = data.data
                for (i = 0; i < pvs.length; i++) {
                    $('#pvs').append('<option value = ' + pvs[i].PV + '>' + pvs[i].PV +
                        '</option>')
                }
                refresh_dept();
                $('#pvs').selectpicker('refresh');
                get_att_data();
            });
        });
        $('#period').datepicker('setDate', new Date());
        $("#pvs").selectpicker();
        $("#pvs").selectpicker().on('change', function (e) {
            refresh_dept();
            get_att_data();
        });
    });
</script>
{% endblock %}
<div class='container-fluid'>
    <div class='row buffer-top-md'>
        <div class='col-md-8'>
            <form class='align-items-center form-inline' id='attendance-form' method='post'>
                <div class='row'>
                    <div class='form-group col-sm-1'>
                        <label for='period'>Období:</label>
                        <input class='form-control' name='period' id="period" type='text'>
                    </div>
                    <div class='form-group col-sm-1'>
                        <label for='pvs'>PV:</label>
                        <select class='form-control' name='pvs' id="pvs"></select>
                    </div>
                    <div class='form-group col-sm-1'>
                        <label for=''>Oddělení:</label>
                        <input class='form-control' id='dept' name='dept' type='text' readonly>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br>
    <form class='form form-group' id='attendance' name='attendance'>

    </form>
</div>
{% endblock %}