{% extends 'base.html' %}

{% block title %}Docházka za útvar {{ acl }}{% endblock %}
{%- set active_page = 'department' %}

{% block content %}

{% block scripts %}
<script>
    var column_def = []

    function getData(cb_func) {
        $.ajax({
            url: '/dept_data',
            data: {
                dept: '{{ acl }}',
                period: $('#period').val(),
            },
            success: cb_func
        })
    }

    function reload_table() {
        if ($.fn.DataTable.isDataTable('#attendance')) {
            $('#attendance').DataTable().destroy();
        }
        $('#attendance').empty();
        getData(function (data) {
            var column_defs = [{
                data: 'Jméno',
                title: 'Jméno'
            }]
            columnNames = Object.keys(data.data[0]);
            for (var i in columnNames) {
                if (columnNames[i] != 'Jméno') {
                    column_defs.push({
                        data: columnNames[i],
                        title: columnNames[i]
                    })
                }
            }
            $('#attendance').DataTable({
                data: data.data,
                columns: column_defs,
                paging: false,
                searching: false,
                bLengthChange: false,
                bInfo: false,
                ordering: false,
                order: [
                    [0, "asc"]
                ],
                buttons: [{
                    extend: 'pdfHtml5',
                    orientation: 'landscape',
                    pageSize: 'A4',
                }],
                dom: 'Bt',
            });
        });
    };

    $(document).ready(function () {
        $('#period').datepicker({
            viewMode: 'months',
            format: 'mm-yyyy',
            minViewMode: 'months',
        });

        $("#period").datepicker().on('changeDate', function (e) {
            reload_table();
        })
        $('#period').datepicker('setDate', new Date());

    });
</script>
{% endblock %}
<div class='container-fluid'>
    <div class='row buffer-top-md well'>
        <form class='form-inline' id='attendance-form' method='post'>
            <div class='form-group'>
                <label for='period'>Období:</label>
                <input class='form-control' name='period' id="period" type='text'>
            </div>
            <div class='form-group'>
                <label for=''>Oddělení:</label>
                <input class='form-control' id='dept' name='dept' type='text' readonly value='{{ acl }}'>
            </div>
            <label for='modes'>Mód docházky:</label>
            <div class='form-group' id="modes">
                <div class='pf-c-radio'>
                    <input class='form-control pf-c-radio__input' name='modes' id='auto' type='radio' value='auto'
                        {% if not mode or mode == 'auto' %} checked {% endif %}>
                    <label class='pf-c-radio__label' for="auto">Automaticky generovaná</label>
                    <input class='form-control pf-c-radio__input' name='modes' id='edit' type='radio' value='edit'
                        {% if mode == 'edit' %} checked {% endif %}>
                    <label class='pf-c-radio__label' for="edit">S editací docházky</label>
                    <input class='form-control pf-c-radio__input' name='modes' id='readonly' type='radio'
                        value='readonly' {% if mode == 'readonly' %} checked {% endif %}>
                    <label class='pf-c-radio__label' for="readonly">Pouze prohlížení docházky</label>
                </div>
            </div>
            <div class col-md-2>
                <input class='btn btn-success' type='submit' value='Uložit'>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-md-6">

            <table class='display table table-bordered table-responsive' id='attendance' name='attendance'>
                <thead>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}