<!DOCTYPE html>
<!--[if IE 9]><html lang="en-us" class="ie9"><![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en-us">
<!--<![endif]-->

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/vendor/patternfly/css/patternfly.css?v=3.0.0">
    <link rel="stylesheet" href="/static/vendor/patternfly/css/patternfly-additions.css?v=3.0.0">
    <link rel="stylesheet" href="/static/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
    <link rel='stylesheet' href='/static/vendor/google/css/OpenSans.css'/>
    <link rel="stylesheet" href="/static/vendor/bootstrap-select/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/static/vendor/bootstrap-clockpicker/css/bootstrap-clockpicker.css"/>
    <link rel="stylesheet" href="/static/css/global.css">

    <script src="/static/vendor/jquery/js/jquery-2.1.4.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/vendor/bootstrap-confirmation/js/bootstrap-confirmation.min.js"></script>
    <script src="/static/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="/static/vendor/bootstrap-datepicker/js/bootstrap-datepicker.cs.min.js"></script>
    <script src="/static/vendor/patternfly/js/patternfly.js?v=3.0.0"></script>
    <script src="/static/vendor/bootstrap-clockpicker/js/bootstrap-clockpicker.js"></script>
    <script src="/static/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
    
    <title>{% block title %}{% endblock %} - Píchátor</title>
    {% block head %}
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-utility navbar-pf" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><b>NTK</b> Píchátor</a>
        </div>
        <ul class="navbar-nav navbar-primary nav">
            <li class="{% if active_page=='attendance' %}active{% endif %}">
                <a href="/">Docházka zaměstnance</a>
            </li>
            <li class="{% if active_page=='timetable' %}active{% endif %}">
                <a href="/timetable">Úprava pracovní doby</a>
            </li>
            {% if acl and acl.isdigit() %}
            <li class="{% if active_page=='department' %}active{% endif %}">
                <a href="/dept">Docházka útvaru {{ acl }}</a>
            </li>
            {% endif %}
            <li class="{% if active_page=='present' %}active{% endif %}">
                <a href="/present">Přítomné osoby</a>
            </li>

            {% if admin %}
            <li class="{% if active_page=='admin' %}active{% endif %}">
                <a href="/admin">Administrační rozhraní</a>
            </li>
            {% endif %}

        </ul>
        {% block navigation %}
        <div class="collapse navbar-collapse navbar-collapse-1">
            <ul class="nav navbar-nav navbar-utility">
                {% block navlinks %}
                {% endblock %}
            </ul>
        </div>
        {% endblock %}
    </nav>

    <div class="toast-pf-max-width toast-pf-top-right">
        {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="toast-pf alert {{category|to_alert}} alert-dismissable pull-right">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                <span class="pficon pficon-close"></span>
            </button>
            <span class="pficon {{category|to_icon}}"></span> {{message}}
        </div>
        {% endfor %}
    </div>

    {% block content %}
    {% endblock %}
</body>

</html>