{% extends "base.html" %}

{% block title %}Not Acceptable{% endblock %}

{% block content %}
<div class="container-fluid">
 <div class="row">
  <div class="col-md-8 col-md-push-2 buffer-top-md">
   <div class="blank-slate-pf">
    <h2>Forbidden</h2>

    <p>During processing of your request, there was a query without requred parameter.</p>
    <p>
     Please contact application administrator at <a href="mailto:helpdeskict@techlib.cz">helpdeskict@techlib.cz</a>
     who should inspect logs for detailed error.
    </p>
   </div>
  </div>
 </div>
</div>
{% endblock %}
