{% extends 'base.html' %}

{% set day_names = ['Ponděli', 'Útery', 'Středa', 'Čtvrtek', 'Pátek'] -%}


{% block title %}Úprava pracovní doby{% endblock %}
{%- set active_page = 'timetable' %}

{% block content %}

{% block scripts %}
<script>
    var timetable = []
    var selected = 0

    function submit_timetable() {
        $('#f_pvs').val(timetable[selected].PV);
        $('#timetable-form').submit();
    }

    function fillTimetable(timetable) {
        $('#occupancy').html(timetable.occupancy)
        $('#dept').html(timetable.department)
        $('#monF').val(timetable.days[0])
        $('#monT').val(timetable.days[1])
        $('#tueF').val(timetable.days[2])
        $('#tueT').val(timetable.days[3])
        $('#wedF').val(timetable.days[4])
        $('#wedT').val(timetable.days[5])
        $('#thuF').val(timetable.days[6])
        $('#thuT').val(timetable.days[7])
        $('#friF').val(timetable.days[8])
        $('#friT').val(timetable.days[9])

        calculateTotal()
    }

    function getMinutes(time) {
        var parts = time.split(':')
        return parseInt(parts[0]) * 60 + parseInt(parts[1])
    }

    function formatDuration(total) {
        var minutes = total % 60
        var hours = (total - minutes) / 60

        return hours + ':' + minutes.toString().padStart(2, '0')
    }

    function calculateTotal() {
        var total = 0

        for (var i = 0; i <= 4; i++) {
            var from = $('input[data-type=F][data-day=' + i + ']').val()
            var to = $('input[data-type=T][data-day=' + i + ']').val()

            var dayDuration = getMinutes(to) - getMinutes(from)

            if (dayDuration >= 6 * 60) {
                dayDuration -= 30
            }

            total += dayDuration

            $('#day' + i + '-total').text(formatDuration(dayDuration))
        }

        $('#timetable-total strong').text(formatDuration(total))
    }

    function refreshSelect() {
        $('#pvs').empty()
        for (i = 0; i < timetable.length; i++) {
            var pv = timetable[i]
            var item = $('<li></li>')

            if (i == selected) {
                item.append(pv.PV)
            } else {
                var link = $('<a></a>')
                    .text(pv.PV)
                    .attr('href', '#')
                    .attr('onClick', 'select(' + i + ')')
                    .data('pvid', pv.PV)

                item.append(link)
            }
            $('#pvs').append(item)
        }
    }

    function select(index) {
        selected = index
        refreshSelect()
        fillTimetable(timetable[index])
    }

    $(document).ready(function () {
        $('.clockpicker').clockpicker()
        $('#date').datepicker({
            'startDate': new Date,
            'format': 'dd-mm-yyyy',
        });
        $('#date').datepicker('setDate', 'today');
        emp_no = '{{ emp_no }}'

        $.ajax({
            url: '/timetable_data',
        }).done(function (data) {
            timetable = data.data
            select(0)
        })
    })
</script>
{% endblock %}

<div class='container-fluid'>
    <div class="row pichator-toolbar toolbar-pf">
        <div class="col-sm-12">
            <div class="row toolbar-pf-results">
                <div class="col-sm-12">
                    <h5>PV</h5>
                    <ul id="pvs" class="list-inline"></ul>
                    <h5>Úvazek</h5>
                    <span id="occupancy"></span>
                    <h5>Oddělení</h5>
                    <span id="dept"></span>
                </div>
            </div>
        </div>
    </div>
    <div class='row buffer-top-md'>
        <div class="col-xs-12 col-sm-8 col-sm-push-2 col-md-6 col-md-push-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Úprava pracovní doby
                </div>
                <div class="panel-body">
                    <form class='form-inline' id='timetable-form' name='timetable-form' method='post'
                        action='/timetable'>
                        <div class="row">
                            <div class="form-group col-md-2">
                                <div class="input-group">
                                    <label for="date">Počátek platnosti:</label>
                                    <input type="text" id="date" name="date" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row top-buffer">
                            <div class="col-xs-12 col-md-2"></div>
                            <div class="col-xs-12 col-md-2"><strong>Čas od</strong></div>
                            <div class="col-xs-12 col-md-2"><strong>Čas do</strong></div>
                            <div class="col-xs-12 col-md-4"><strong>Trvání</strong></div>

                        </div>

                        {% for day in ['mon', 'tue', 'wed', 'thu', 'fri'] %}
                        {% set day_index = loop.index - 1 -%}
                        <div class="row">
                            <div class="col-xs-12 col-md-2 form-control-static">
                                <strong>{{ day_names[day_index] }}</strong>
                            </div>

                            {% for dayPart in ['F', 'T'] %}
                            <div class='form-group col-xs-12 col-md-2'>
                                <div class='input-group clockpicker' id='{{day}}-{{dayPart}}-picker'
                                    data-placement='right' data-align='top' data-autoclose='true'>
                                    <input type="text" class="form-control" id='{{day}}{{dayPart}}'
                                        onChange="calculateTotal()" name='{{day}}{{dayPart}}' data-day="{{day_index}}"
                                        data-type="{{dayPart}}">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-time"></span>
                                    </span>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="form-group col-xs-12 col-md-4" id="day{{day_index}}-total"></div>
                        </div>
                        {% endfor %}
                        <div class="row">
                            <div class="col-xs-12 col-md-6 form-control-static">
                                <strong>Celkem</strong>
                            </div>

                            <div class="col-xs-12 col-md-6 form-control-static" id="timetable-total">
                                <strong></strong>
                            </div>
                        </div>

                        <input type='text' hidden='true' id='f_pvs' name='f_pvs'>
                    </form>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-primary" onclick="submit_timetable()">Uložit</button>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}