{% extends 'base.html' %}


{% block title %}Úprava pracovní doby{% endblock %}

{% block content %}

{% block scripts %}
<script>
    timetable = []

    function load_data() {
        emp_no = '{{ emp_no }}'
        //reload data and refresh textfields
        $.ajax({
            'url': '/timetable_data/' + emp_no,
        }).fail(function () {
            //TODO display error
        }).done(function (data) {
            timetable = data.data
            for (i = 0; i < timetable.length; i++) {
                if (i == 0) {
                    $('#pvs').append('<option value="' + timetable[i].PV + '" id="' + timetable[i].PV +
                        '" selected="selected">' + timetable[i].PV + '</option>')
                } else {
                    $('#pvs').append('<option value="' + timetable[i].PV + '" id="' + timetable[i].PV +
                        '">' + timetable[i].PV + '</option>')
                }
            }
            on_select_pv();
        })
    }

    function on_select_pv() {
        if($('#pvs')[0].length == 1){
            i = 0;
        }
        else{
            i = $('#pvs')[0].selectedIndex;
        }
        console.log(timetable)
        $('#occupancy').html('Úvazek: ' + timetable[i].occupancy);
        $('#dept').html('Oddělení: ' + timetable[i].department);
        $('#monF')[0].value = timetable[i].days[0];
        $('#monT')[0].value = timetable[i].days[1];
        $('#tueF')[0].value = timetable[i].days[2];
        $('#tueT')[0].value = timetable[i].days[3];
        $('#wedF')[0].value = timetable[i].days[4];
        $('#wedT')[0].value = timetable[i].days[5];
        $('#thuF')[0].value = timetable[i].days[6];
        $('#thuT')[0].value = timetable[i].days[7];
        $('#friF')[0].value = timetable[i].days[8];
        $('#friT')[0].value = timetable[i].days[9];
    }
    $(document).ready(function () {
        load_data()
    })
</script>
{% endblock %}

<div class='container-fluid'>
    <div class='row-buffer-top-md'>
        <div class='col-md-7'>
            <h2>PV: </h2>
            <select id="pvs" onchange="on_select_pv()"></select>
            <h2 id='occupancy'></h2>
            <h2 id='dept'></h2>
            <form id='timetable-form'>
                Po: <input type='time' id='monF' >  <b>-</b>  <input type='time' id='monT' ><br><br>
                Út: <input type='time' id='tueF' >  <b>-</b>  <input type='time' id='tueT' ><br><br>
                St: <input type='time' id='wedF' >  <b>-</b>  <input type='time' id='wedT' ><br><br>
                Čt: <input type='time' id='thuF' >  <b>-</b>  <input type='time' id='thuT' ><br><br>
                Pá: <input type='time' id='friF' >  <b>-</b>  <input type='time' id='friT' ><br><br>
                <button type='submit' class='btn btn-success submit-btn'>Uložit</button>
                <button id='btn-cancel' class='btn btn-warning' onclick='load_data();'>Zrušit</button>
            </form>

        </div>
    </div>
</div>

    {% endblock %}