@page {
    size: landscape;
    margin: 1cm;
}

.table{
    max-width: 2300px;
    width: 100%;
    font-size: 12px;
    font-weight: 400;
}

.table td{
    width: auto;
    overflow: hidden;
    word-wrap: break-word;
}