.buffer-top-md {
 padding-top: 20px;
 padding-left: 10px;
}
.input-sm {
 max-width: 6em;
}
.row-warning{
    background-color: #f7bd7f !important;
}
.row-disabled{
    background-color: #ededed !important;
}
.row-success{
    background-color: #7cdbf3 !important;
}