.buffer-top-md {
 padding-top: 20px;
 padding-left: 10px;
}

.buffer-left-md {
    margin-left: 20px;
   }

.buffer-left-sm {
    margin-left: 10px;
}

.input-sm {
 max-width: 6em;
}

.inline {
    display: inline;
}

.today{
    background-color:#73BCF7 !important
}
.warning{
    background-color:rgb(247, 212, 115) !important
}
.weekend td:first-child{
    font-weight: bold !important
}

.pichator-toolbar.toolbar-pf {
    padding-top: 0px !important;
}

.pichator-toolbar .toolbar-pf-results {
    margin-top: 0px !important;
    border-top: 0 !important;
}


.pichator-toolbar .toolbar-pf-results h5:not(:first-child)  {
    margin-left: 40px;
}


.pichator-toolbar .toolbar-pf-results ul.list-inline > * + * {
    margin-left: 10px;
}


.pichator-toolbar .toolbar-pf-results ul.list-inline li.active {
    font-weight: bold;
}
.p{
    font-family: 'Open Sans', monospace;
}